:root {
    --bluegreen: #74D3AE;
    --grn: #678D58;
    --ligr: #A6C48A;
    --beig: #F6E7CB;
    --pinkor: #DD9787;
}


#map {
min-width: 100%;
min-height: 100%;
}



.card {
    background-color: rgb(173, 176, 176);
    margin: 20px;
    border-radius: 20px;
    padding: 2rem;
    width: 45vh;
}