:root {
    --bluegreen: #74D3AE;
    --grn: #678D58;
    --ligr: #A6C48A;
    --beig: #F6E7CB;
    --pinkor: #DD9787;
}


#map {
    min-width: 100%;
    min-height: 100%;
}



.card {
    background-color: rgb(173, 176, 176);
    margin: 20px 0 20px 0;
    border-radius: 20px;
    padding: 2rem;
}

#header-img {
    background-image: url("birdsunset.png");
    background-size: cover;
}

.birdName:hover {
    cursor: pointer;
}

#factHead {
    font-size: 24px;
    font-weight: 600;
}

#headerlinks {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: -70px;
    margin-bottom: 60px;
    font-weight: bolder;
}

input[type=checkbox]:checked + .birdSave {
    text-decoration: line-through;
}

#listEl {
    margin: 20px 0 20px 0;
}